<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moonlit.centeruser.mapper.UserMapper">

    <select id="getUserByAccountId" resultType="com.moonlit.centeruser.entity.dto.UserDTO">
        SELECT cu.account_id,
               cu.account,
               cu.`status`,
               ud.id,
               ud.nick_name,
               ud.icon,
               ud.sex
        FROM `center_user` cu
                 LEFT JOIN `user_detail` ud ON cu.id = ud.user_id
        WHERE cu.account_id = #{accountId}
    </select>

</mapper>